*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}
a:visited{
    color: black;
}

.center {
    padding: 0 calc(50% - 570px);
}
.view{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.image{
    height: 200px;
    width: 300px;
}

.image_big{
    max-height: 600px;
}